 *{
        margin:0px;
        padding: 0px;
    }
     body{
      background-color: rgb(252, 230, 173);
    }

	 
    div
    {
        background-color: #316D75;
        color: white;
        width: auto;
        height: 150px;

    }
    h1
    {
        padding-bottom: 50px;
      
    }
    a
    {
        text-decoration-line: none;
        color: white;
        padding-left: 20px;
   
    }
    h1
    {

            padding-left:  20px;
            padding-top: 20px;
    }